<!DOCTYPE html> 
html(dir="rtl" lang="ar")
    head 
        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
        meta(name="description", content="شركة WE للتسويق العقاري")
        
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer")
        link(rel="shortcut icon", href="imgs/logo_4_11zon.jpeg", type="image/x-icon")
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous")
        title We Real Estate
body 
    div(class="overlay main")
    .nav-div 
        .logo
            img(src="imgs/logo_4_11zon.jpeg", alt="") 
        i.fa-solid.fa-bars
        .nav-items
            ul 
                each val in ['الرئيسية','خدماتنا','من نحن','تواصل معنا']
                    li: a(href=`#${val}` data-link=val)=val
    div(class="home",id="الرئيسية")
        .overlay
        .home-content 
            h1 WE Real Estate
            p WE هي شركة للتسويق العقاري و لبيع العقارات و الفيلل
            .contact 
                button: a(href="#تواصل معنا") تواصل معنا 
    div(class="services",id="خدماتنا")
        .container
            .services-content 
                .heading 
                    p ماذا يمكننا تقديمة لك
                    h1 خدمات نقدمها لك
                .row
                    each val in [{img:'imgs/sr3_8_11zon.jpeg' ,title:'المنى جاردنز',desc:'مشروع المني جاردنز بمنطقة المني فيلل فخمة بحمام سباحة',link:'imgs/ALMUNA-GARDENS-BROCHUREcompressed-1compressed-1.pdf'},{img:'imgs/sr2_7_11zon.jpeg',title:'زين العذيبه ',desc:'شقق فخمة بمنطقة العذيبة',link:'imgs/brochure-3compressed.pdf'},{img:"imgs/sr1_6_11zon.jpeg",title:"مروج الزين",desc:' شقق للبيع فى منطقه صلاله',link:'imgs/MUROOJ-ZAIN-Bro1.pdf'},{img:'imgs/bb3_1_11zon.jpeg',title:'قطعه ارض للبيع',desc:'قطعه ارض للبيع - فى منطقه الخوير ',link:'imgs/CamScanner-10-04-2020-15.05.50.pdf'},{img:'imgs/بهجة_12.jpeg',title:'بهجه العذيبه بمنطقه العذيبه',desc:'شقق بمنطقه العذيبه وتم بيع 98 % من المشروع',link:'imgs/portfolio-1.pdf'},{img:'imgs/جبال_13.jpeg',title:'جبال بمنطقه بوشر مسجد محمد الامين',desc:'شقق بمنطقه بوشر تم بيع 95 % من الشقق وبها تمللك للاجانب',link:'imgs/portfolio-3.pdf'}]
                        .col-md-12.srv-box
                            .overlay
                                i(class="fa-solid fa-video")
                            img(src=val.img, alt="")
                            .srv-box-content 
                                h4= val.title
                                p=val.desc
                                .srv-box-links 
                                    a(href=val.link) اقرأ المزيد 
                                    a(class="video") فيديو للمشروع 
    div(class="about container",id="من نحن")
        .row 
            .about-content.col-lg-6.col-sm-12
                h1 من نحن
                p #[br]نحن شركة وليد نعمل في عدة مجالات متعددة مثل (المقاولات - الاستشارات الهندسية - المطاعم - تجارة مواد البناء - التصميم الداخلي) من خلال عدة مكاتب متخصصة مثل:#[br] مكتب المها للاستشارات الهندسية. #[br] مكتب مهندسون بلا حدود للاستشارات الهندسية .#[br] مكتب طاقة المستقبل للاستشارات الهندسية الكهرائية.
                p: a(href="imgs/بروفال-تفاعلي22.pdf") اعرف اكثر 
            .about-img.col-lg-6.col-sm-12
                img(src="imgs/whous_10_11zon.jpeg", alt="")
    div(class="team container" id='فريق العمل')
    div(class="contact-section container",id="تواصل معنا")
        .row   
            .form-img.col-lg-6.col-sm-12
                img(src="imgs/gardens_2_11zon.jpeg", alt="")
            .form.col-lg-6.col-sm-12
                .heading 
                    h1 تواصل معنا الان!
                    p واتس اب: 79282983 
                    p اتصل علي: 79282983 
                form(action="https://formsubmit.co/w.eid@orixoman.com" method="POST" required) 
                    input(type="text",placeholder="الاسم" name="name" required)
                    input(type="email",placeholder="البريد الالكتروني" name="email" required)
                    input(type="tel",placeholder="رقم الهاتف" name="phone" required)
                    input(type="text",placeholder="العنوان" name="subject" required)
                    input(type="message",placeholder="الرسالة" name="message" required)
                    button(type="submit") ارسال
    footer 
        .container
            .row 
                .col-lg-3.col-md-6.col-sm-12.foot-box 
                    h4 عن الشركة:
                    p نحن شركة وليد نعمل في عدة مجالات متعددة مثل (المقاولات - الاستشارات الهندسية - المطاعم - تجارة مواد البناء - التصميم الداخلي) من خلال عدة مكاتب متخصصة مثل:
                    |مكتب المها للاستشارات الهندسية.
                    |مكتب مهندسون بلا حدود للاستشارات الهندسية .
                    |مكتب طاقة المستقبل للاستشارات الهندسية الكهرائية.


                .col-lg-3.col-md-6.col-sm-12.foot-box 
                    h4 تواصل معنا: 
                    p: a(href="https://api.whatsapp.com/send?phone=+96879282983&text=We Real Estate") واتس اب: 79282983                    
                    p: a(href="tel:+96879282983") اتصل علي: 79282983
                .col-lg-3.col-md-6.col-sm-12.foot-box 
                    h4 اخر المشاريع:
                    p: a(href="https://drive.google.com/file/d/1Ru7oEbXsmyxgmiTvWU6X0ptlwWeqWxnp/view?usp=sharing") زين العذيبه
                    p: a(href="https://drive.google.com/file/d/1PaqVr5Qzjx2vLZrUm6vl0oh4TegUi70x/view?usp=sharing") مروج الزين
                    p: a(href="https://drive.google.com/file/d/1AcNN4-7AFU0YBIr0f4gXQZPN4NgMopxK/view?usp=sharing") المنى جاردنز
                    p: a(href="https://drive.google.com/file/d/19x10w6tkzTAj8m93NtObUZ5gUJwxxB0v/view?usp=sharing") قطعه ارض للبيع
                .col-lg-3.col-md-6.col-sm-12.foot-box
                    h4 روابط مهمة:
                    p: a(href="#خدماتنا") خدماتنا
                    p: a(href="#من نحن") من نحن
                    p: a(href="#تواصل معنا") تواصل معنا
    .copyrights 
        p جميع الحقوق محفوظة لدي شركة #[span WE]  للتسويق العقاري ©
    .wts.btn 
        a(href="https://api.whatsapp.com/send?phone=+96879282983&text=We Real Estate")
            img(src="imgs/whatsapp_9_11zon.jpeg", alt="")
    script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous")
    script(src="js/main.js") 