<!DOCTYPE html> 
html(dir="rtl" lang="ar")
    head 
        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
        meta(name="description", content="شركة WE للتسويق العقاري")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer")
        block shortcut
            link(rel="shortcut icon", href="imgs/logo_4_11zon.jpeg", type="image/x-icon")
        block style 
            link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous")
        title We Real Estate
    body 
        .nav-div 
            .logo
                a(href="index.html")
                    block logo
                        img(src="../imgs/logo_4_11zon.jpeg", alt="") 
            i.fa-solid.fa-bars
            .nav-items
                ul 
                    each val in ['الرئيسية','خدماتنا','من نحن','تواصل معنا']
                        li: a(href=`#${val}` data-link=val)=val
        block sections
            div(class="home section",id="الرئيسية")
                .overlay
                .home-content 
                    h1 WE Real Estate
                    p هي شركة للتسويق العقاري (لبيع و شراء العقارات)
                    .contact 
                        button: a(href="#تواصل معنا") تواصل معنا 
            div(class="services section",id="خدماتنا")
                .container
                    .services-content 
                        .heading 
                            p ماذا يمكننا تقديمة لك
                            h1 خدمات نقدمها لك
                        .row
                            each val in [{img:'imgs/sr3_8_11zon.jpeg' ,title:'المنى جاردنز',desc:'مشروع المني جاردنز بمنطقة المني فيلل فخمة بحمام سباحة',link:'imgs/ALMUNA-GARDENS-BROCHUREcompressed-1compressed-1.pdf'},{img:'imgs/sr2_7_11zon.jpeg',title:'زين العذيبه ',desc:'شقق فخمة بمنطقة العذيبة',link:'imgs/brochure-3compressed.pdf'},{img:"imgs/sr1_6_11zon.jpeg",title:"مروج الزين",desc:' شقق للبيع فى منطقه صلاله',link:'imgs/MUROOJ-ZAIN-Bro1.pdf'},{img:'imgs/bb3_1_11zon.jpeg',title:'قطعه ارض للبيع',desc:'قطعه ارض للبيع - فى منطقه الخوير ',link:'imgs/CamScanner-10-04-2020-15.05.50.pdf'},{img:'imgs/بهجة_12.jpeg',title:'بهجه العذيبه بمنطقه العذيبه',desc:'شقق بمنطقه العذيبه وتم بيع 98 % من المشروع',link:'imgs/portfolio-1.pdf'},{img:'imgs/جبال_13.jpeg',title:'جبال بمنطقه بوشر مسجد محمد الامين',desc:'شقق بمنطقه بوشر تم بيع 95 % من الشقق وبها تمللك للاجانب',link:'imgs/portfolio-3.pdf'}]
                                .col-md-12.srv-box
                                    img(src=val.img, alt="")
                                    .srv-box-content 
                                        h4= val.title
                                        p=val.desc
                                        .srv-box-links 
                                            a(href=val.link) اقرأ المزيد 
                                            a(class="video") فيديو للمشروع
                                                 <i class="fa-solid fa-circle-play"></i>

            div(class="about container section",id="من نحن")
                .row 
                    .about-content.col-lg-6.col-sm-12
                        h1 من نحن
                        p #[br]نحن شركة WE نعمل في عدة مجالات متعددة مثل (المقاولات - الاستشارات الهندسية - المطاعم - تجارة مواد البناء - التصميم الداخلي) من خلال عدة مكاتب متخصصة تحت ادارتنا مثل:#[br] مكتب المها للاستشارات الهندسية. #[br] مكتب مهندسون بلا حدود للاستشارات الهندسية .#[br] مكتب طاقة المستقبل للاستشارات الهندسية الكهرائية.
                        p: a(href="imgs/بروفال-تفاعلي22.pdf") اعرف اكثر 
                    .about-img.col-lg-6.col-sm-12
                        img(src="imgs/whous_10_11zon.jpeg", alt="")
            div(class="contact-section section container",id="تواصل معنا")
                .row   
                    .form-img.col-lg-6.col-sm-12
                        img(src="imgs/gardens_2_11zon.jpeg", alt="")
                    .form.col-lg-6.col-sm-12
                        .heading 
                            h1 تواصل معنا الان!
                            p واتس اب: 79282983 
                            p اتصل علي: 79282983 
                        form(action="https://formsubmit.co/w.eid@orixoman.com" method="POST" required) 
                            input(type="text",placeholder="الاسم" name="name" required)
                            input(type="email",placeholder="البريد الالكتروني" name="email" required)
                            input(type="tel",placeholder="رقم الهاتف" name="phone" required)
                            input(type="text",placeholder="العنوان" name="subject" required)
                            input(type="message",placeholder="الرسالة" name="message" required)
                            button(type="submit") ارسال
        include footer
        .wts.btn 
            a(href="https://api.whatsapp.com/send?phone=+96879282983&text=We Real Estate")
                img(src="imgs/whatsapp_9_11zon.jpeg", alt="")
        script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous")
        script(src="js/main.js") 